USE [master]
GO
/****** Object:  Database [ProvaCapta]    Script Date: 28/04/2023 17:58:12 ******/
CREATE DATABASE [ProvaCapta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProvaCapta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProvaCapta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProvaCapta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProvaCapta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProvaCapta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProvaCapta]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/04/2023 17:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](250) NOT NULL,
	[Cpf] [nchar](11) NOT NULL,
	[IdTipoCliente] [int] NOT NULL,
	[Sexo] [nvarchar](200) NOT NULL,
	[IdSituacao] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Situacao]    Script Date: 28/04/2023 17:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Situacao](
	[IdSituacao] [int] IDENTITY(1,1) NOT NULL,
	[NomeSituacao] [nvarchar](250) NOT NULL,
	[SiglaSituacao] [char](2) NULL,
 CONSTRAINT [PK_Situacao] PRIMARY KEY CLUSTERED 
(
	[IdSituacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCliente]    Script Date: 28/04/2023 17:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCliente](
	[IdTipoCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_TipoCliente] PRIMARY KEY CLUSTERED 
(
	[IdTipoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Nome], [Cpf], [IdTipoCliente], [Sexo], [IdSituacao]) VALUES (1, N'Maria', N'56666000013', 2, N'Masculino', 2)
INSERT [dbo].[Cliente] ([IdCliente], [Nome], [Cpf], [IdTipoCliente], [Sexo], [IdSituacao]) VALUES (3, N'João', N'93508944085', 2, N'Masculino', 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Situacao] ON 

INSERT [dbo].[Situacao] ([IdSituacao], [NomeSituacao], [SiglaSituacao]) VALUES (1, N'Ativo', N'A ')
INSERT [dbo].[Situacao] ([IdSituacao], [NomeSituacao], [SiglaSituacao]) VALUES (2, N'Inativo', N'I ')
SET IDENTITY_INSERT [dbo].[Situacao] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoCliente] ON 

INSERT [dbo].[TipoCliente] ([IdTipoCliente], [Nome]) VALUES (1, N'PJ')
INSERT [dbo].[TipoCliente] ([IdTipoCliente], [Nome]) VALUES (2, N'PF')
SET IDENTITY_INSERT [dbo].[TipoCliente] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__C1FF93096E3DEFFB]    Script Date: 28/04/2023 17:58:12 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Situacao] FOREIGN KEY([IdSituacao])
REFERENCES [dbo].[Situacao] ([IdSituacao])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Situacao]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Tipo] FOREIGN KEY([IdTipoCliente])
REFERENCES [dbo].[TipoCliente] ([IdTipoCliente])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Tipo]
GO
USE [master]
GO
